<div class="container">
<h1>{{titleMain}} 🚀</h1>
    <div class="row ">
        <div class="col">
            <a href="/fotograma/crear" class="btn btn-dark">Creacion</a>
        </div>
        <div class="col">
            <a href="/tendencias" class="btn btn-dark">Tendencias</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 column">
            {{#each result}}
            <h4>Tag:{{tagId.name}}</h4>
            <img class="resolve" src="{{img}}" alt="imagen">
            {{#if ../isUser}} 
            <a href='/fotograma/detalles/{{id}}' class="btn btn-dark"> Mostrar detalles</a>
            {{/if}}
            <hr>
            {{/each}}
        </div>
    </div>
</div>