<div class="container">
<h2>random</h2>
    <div class="row ">
        <div class="col">
            <a href="/fotograma/crear" class="btn btn-dark">upload</a>
        </div>
        <div class="col">
            <a href="/tendencias" class="btn btn-dark">trends</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11 column ">
            {{#each result}}
            <h4>{{tagId.name}}</h4>
            <img class="resolve" src="{{img}}" alt="imagen">
            {{#if ../isUser}} 
            <a href='/fotograma/detalles/{{id}}'>details</a>
            {{/if}}
            <hr>
            {{/each}}
        </div>
    </div>
</div>