<div class="container">
<h1>{{titleMain}}</h1>
    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <a href="/fotograma/crear" class="">Upload</a>
        </div>
        <div class="col d-flex justify-content-center">
            <a href="/tendencias" class="">Trends</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 column">
            {{#each result}}
            <h4>Tag:{{tagId.name}}</h4>
            <img class="resolve" src="{{img}}" alt="imagen">
            {{#if ../isUser}} 
            <a href='/fotograma/detalles/{{id}}' class="btn btn-outline-success"> Mostrar detalles</a>
            {{/if}}
            <hr>
            {{/each}}
        </div>
    </div>
</div>