<div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
    </span>
</div>

<div class="container">
    <h2>Vista de tendencias</h2>
    {{#each allUploads}}
    <div class="row">

        <p>{{this.0.tagId.name}}</p>
        
        <div class="col">

        {{#each this}}
            <img class="newImage" src="{{img}}" alt="imagen">
        {{/each}}
        
        </div>
    </div>
    {{/each}} 
</div>


