
<div class="container">

    <h2>Profile</h2>
    <hr>
    <div class="row">

        <div class="col-md-6">

                <div class="form-group">
                    {{#if checkPeasant}}
                    <img src="https://res.cloudinary.com/dvk0p9wev/image/upload/v1631732354/KkrwCqU_ijftfm.png" alt="WHITE-RABBIT">
                    <p>FOLLOW THE WHITE RABBIT, UPLOAD PHOTOS!!</p>
                    {{/if}}
                    {{#if checkAgent}}
                    <img src="https://res.cloudinary.com/dvk0p9wev/image/upload/v1631732518/agente_m5pcez.jpg" alt="AGENT">
                    <br>
                    <p class="profile">RANGE: AGENT</p>
                    {{/if}}
                    {{#if checkArchitect}}
                    <img src="" alt="ARCHITECT"> 
                    <p class="profile">RANGE: ARCHITECT</p>
                    {{/if}}
                </div>
                <p>UPLOADS: {{user.counter}}</p>
            <form action="/perfil" method="POST">
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{email}}">
                </div>
                
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" class="form-control" id="password" name="password" value="{{password}}">
                </div>
                <button type="submit" class="btn btn-warning">Save</button>
            </form>

{{!-- 
            <form action='/perfil/eliminar/{{id}}' method="post">
            
                <button type="submit" class="btn btn-danger">Borrar Usuario</button>
            
            </form> --}}

            </form>
            </form>
        </div>
        <hr>
    </div>
</div>