
<div class="container">
<h3>knock, knock, upload.</h3>

    <div class="row">

        <div class="col-md-6">

            <form action="/fotograma/crear" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="location"></label>
                    <input id='lng' value="" type="hidden" class="form-control" id="location" name="lng">
                    <input  id='lat' value="" type="hidden" class="form-control" id="location" name="lat">

                </div>

                <div class="form-group">
                    <label for="tag">Tag</label>
                    <input type="text" class="form-control" id="tag" name="tag" value="#">
                </div>

                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" class="form-control" id="image" name="img">
                </div>

                <button type="submit" class="btn btn-dark">upload</button> <a href='/' class='btn btn-dark'>back </a>
            </form>

        </div>

        <hr>
        <p id="pos"> </p>
    </div>

    <figure id="myMapCreate"></figure>
  
</div>
{{!-- 
<input id="pos" type="hidden" value=""> --}}

<script src='/js/mapStyles.js'></script>

<script src='/js/basic-map-setup.js'></script>

<script src='https://unpkg.com/axios/dist/axios.min.js'></script>

<script
    src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDOuDALvzBrOz-Y-iQxy8lPZKvl8yw9ZX4&callback=initMap'></script>