/* body {
  padding: px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

*/
h1,
h2,
h3,
h4 {
  color: 15px;
  margin: 5px;
}
*/ body {
  background-color: black;
  height: 100vh;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}

#sticky {
  border-bottom: 1px solid #989ea4;
  border-top: 1px solid #717d85;
  position: sticky;
}
.resolve {
  height: 15em;
  object-fit: cover;
}
.newImage {
  height: 15em;
  object-fit: cover;
}

#myMap {
  margin: 10px;
  height: 400px;
  background-color: red;
}
.column {
  /* border-image: 10;
  border-color: black;
  border-radius: 50%; */
  margin: 10 px;
}
