h1,
h2,
h3,
h4 {
  margin: 5px;
}
h4 {
  font-size: 20px;
}
body {
  margin-top: 65px;
  background-color: black;
  height: 100vh;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}

.resolve {
  height: auto;
  width: 100%;
  object-fit: cover;
  margin: 5px 0px;
}
.newImage {
  height: auto;
  object-fit: cover;
}

#myMap {
  margin: 10px;
  height: 400px;
  background-color: red;
}
#myMapCreate {
  margin: 10px;
  height: 0px;
  background-color: red;
}
.column {
  margin: 10 px;
}

a {
  color: chartreuse;
  font-size: 16px;
}
.profile {
  font-size: 16px;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
