/* body {
  padding: px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.resolve {
  height: 10em;
  object-fit: cover;
}
.newImage {
  height: 10em;
  object-fit: cover;
}

#myMap {
  margin: 10px;
  height: 400px;
  background-color: red;
}
