

<figure id="myMap">Mapa</figure>

<a href='/' class='btn btn-dark'>Volver</a>

<script src='/js/mapStyles.js'></script>

<script src='/js/basic-map-setup.js'></script>

<script src='https://unpkg.com/axios/dist/axios.min.js'></script>

<script
    src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDOuDALvzBrOz-Y-iQxy8lPZKvl8yw9ZX4&callback=initMap'></script>