<h1>{{titleMain}} 🚀</h1>
<p>Imagenes Random</p>

<div class="container">
    <div class="row">
        <div class="col-sm">
            {{#each result}}
            <p>Tag:{{tagId.name}}</p>
            <img class="resolve" src="{{img}}" alt="imagen">
            {{#if ../isAGENT}} 
            <a href='/fotograma/detalles/{{id}}' class="btn btn-dark"> ir a narnia</a>
            {{/if}}
            <hr>
            {{/each}}
        </div>
    </div>
</div>