<h1>{{titleMain}} 🚀</h1>
<p>Imagenes Random</p>

<div class="container">
    <div class="row">
        <div class="col-sm">

            <p>Tag:{{tagId.name}}</p>
            <p>Imagen:{{img}}</p>
            <a href='/fotograma/detalles/{{id}}' class="btn btn-dark"> ir a narnia</a>
            <hr>
        </div>
    </div>

    <div class="row ">
        <div class="col">
            <a href="/inicio-sesion" class="btn btn-dark">Inicia sesion</a>
        </div>
        <div class="col">
            <a href="/registro" class="btn btn-dark">Registro</a>
        </div>
        <div class="col">
            <a href="/fotograma/crear" class="btn btn-dark">Creacion</a>
        </div>
    </div>
</div>