<h1>Vista de tendencias</h1>
<div class="container">
    {{#each allUploads}}
    <div class="row">

        <p>{{this.0.tagId.name}}</p>
        
        <div class="col">

        {{#each this}}
            <img class="newImage" src="{{img}}" alt="imagen">
        {{/each}}
        
        </div>
    </div>
    {{/each}} 
</div>


