/* body {
  padding: px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */

.resolve {
  object-fit: cover;
  height: 10em;
}
.newImage {
  object-fit: cover;
  height: 10em;
}

#myMap {
  margin: 10px;
  height: 400px;
  background-color: red;
}
