<h1>Vista de Detalles de Upload</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <p>Tag:{{tagId.name}}</p>
            <p>Hay X {{tagId.name}} en este momento</p>
            <p>Imagen:{{img}}</p>
            <p>Localizacion{{location}}</p>
        </div>
    </div>
</div>