
<div class="container">
<h3>Vista de Detalles de Upload</h3>
    <div class="row">
        <div class="col-md-6">
            <p>Tag:
            <span id="tagName">{{theUpload.tagId.name}}</span></p>
            <p>Hay {{theUpload.tagId.name}} en este momento</p>
           
            {{#if checkArchitect}}
            <form action='/fotograma/eliminar/{{id}}' method="post">

                <button type="submit" class="btn btn-danger">Borrar fotograma</button>

            </form>
            {{/if}}
        <figure id="myMap">Mapa</figure>
        <a href='/' class='btn btn-dark'>Volver</a>
        </div>
    </div>
</div>



<script src='/js/mapStyles.js'></script>
<script src='/js/basic-map-setup.js'></script>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDOuDALvzBrOz-Y-iQxy8lPZKvl8yw9ZX4&callback=initMap'></script>